@media screen and (max-width:768px) {
    .register-left{
        display: none;
    }
    .register-right {
        width: 100%;
        margin: 0 auto;
    }
   
   
}

@media screen and (max-width:1024px) {
    .register-left{
        width: 30%;
    }

    .register-right {
        width: 80%;
    }
    
}