.profile-settings {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.settings-box {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 1rem 2rem;
    border-radius: 25px;
}

.settings-box > .checkbox {
    width: 80px;
    border-radius: 15px;
    height: 30px;
    background-color: rgb(220, 217, 217);
}

.settings-box > .checkbox > div {
    width: 30px;
    height: 100%;
    background-color: rgb(152, 149, 149);
    border-radius: 50%;
    transition: 0.5s;
}